body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#222;
    margin:0 0 20px;
}


p {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    position:relative;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.boxed {
    margin: 15px;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 10px;
    opacity: 0.9;
    height: 100%;
    width: 600px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
}


 /* Creating an opacity hover effect for projects */
img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.brightness {
    -webkit-filter: brightness(0);
}

.blur {
    -webkit-filter: blur(0px);
}

.opacity {
    -webkit-filter: opacity(75%);
}

img.opacity:hover {
    -webkit-filter: opacity(25%);
}


/* For increasing the size of the image */
#images-box {
    /* The total width of the image-box, mainly for centering */
    width: 850px;
    margin: 0px auto;
    position: relative;
    top: 70px;
}
 
.image-lightbox img {
    /* Inherit the width and height from the parent element */
    width: inherit;
    height: inherit;
}
 
.holder {
    /* The width and height, you can change these */
    width: 250px;
    height: 166px;
    /* Float left, so everything aligns right */
    float: left;
    margin: 0 20px 0 0;
}
 
.image-lightbox {
    /* Inherit width and height from the .holder */
    width: inherit;
    height: inherit;
    padding: 10px;
    /* Box shadow */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 5px;
    /* Position absolutely so we can zoom it out later */
    position: absolute;
    top: 0;
    font-family: Arial, sans-serif;
    /* Transitions to provide some eye candy */
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease-in 0.5s;
    -ms-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}
 
.image-lightbox span {
    display: none;
}
 
.image-lightbox .expand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
 
.image-lightbox .close {
    position: absolute;
    width: 20px; height: 20px;
    right: 20px; top: 20px;
}
 
.image-lightbox .close a {
    height: auto; width: auto;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    background: #22272c;
    box-shadow: inset 0px 24px 20px -15px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 30px rgba(255,255,255,0.4);
    border-radius: 5px;
    font-weight: bold;
    float: right;
}
 
.close a:hover {
    box-shadow: inset 0px -24px 20px -15px rgba(255, 255, 255, 0.01), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 20px rgba(255,255,255,0.4);
}
 
div[id^=image]:target {
    width: 800px;
    height: 600px;
    z-index: 5000;
    top: -100px;
    left: -200px;
}
div[id^=image]:target .close {
    display: block;
}
 
div[id^=image]:target .expand {
    display: none;
}
 
div#image-1:target { left: -100px; top:-100px; }
div#image-2:target { left: -100px; top:-100px; }
div#image-3:target { left: -100px; top:-100px; }
div#image-4:target { left: -100px; top:-100px; }
div#image-5:target { left: -100px; top:-100px; }
div#image-6:target { left: -100px; top:-100px; }
div#image-7:target { left: -100px; top:-100px; }
div#image-8:target { left: -100px; top:-100px; }
div#image-9:target { left: -100px; top:-100px; }
div#image-10:target { left: -100px; top:-100px; }
div#image-11:target { left: -100px; top:-100px; }
div#image-12:target { left: -100px; top:-100px; }
 
div#image-1 { left: 0; }
div#image-2 { left: 290px; }
div#image-3 { left: 580px; }
div#image-4 { left: 0; top: 205px; }
div#image-5 { left: 290px; top: 205px;}
div#image-6 { left: 580px; top: 205px;}
div#image-7 { left: 0; top: 405px; }
div#image-8 { left: 290px; top: 405px;}
div#image-9 { left: 580px; top: 405px;}
div#image-10 { left: 0; top: 605px; }
div#image-11 { left: 290px; top: 605px;}
div#image-12 { left: 580px; top: 605px;}