body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#222;
    margin:0 0 20px;
}


p {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.boxed {
    margin: 15px;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 10px;
    opacity: 0.9;
    height: 100%;
    width: 600px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
}


 /* Creating an opacity hover effect for projects */
img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.brightness {
    -webkit-filter: brightness(0);
}

.blur {
    -webkit-filter: blur(0px);
}

.opacity {
    -webkit-filter: opacity(75%);
}

img.opacity:hover {
    -webkit-filter: opacity(25%);
}

/* Displaying images in columns */

.column{
width:100%;
min-height:200px;
margin: 15px;
}

.image-container{
width: 25%;
height: 200px;
float: left;
}

.image-container img{
max-height: 200px;
width: 100%;
}
