---
layout: default
title:  "Oleh Dubno"
front:  true
---
<div class="row" id="name" role="banner">
    <div class="box">
        <h1>Oleh Dubno</h1>

        <p id="header">
            Web Site in the works.
        </p>
    </div>
</div>


<div class="box" id="company-info" role="section">
    <h2>Who I am</h2>

    <p>Passionate about using Python tools and work with data.</p>
</div>

{% if site.show_posts == true and site.posts.size != 0 %}
    <div class="row" id="posts">
        <div class="box" role="section">
            <h2>Posts</h2>

            <ul>
            {% for post in site.posts %}
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    <div>
{% endif %}
