
{% extends "_base.html" %}
{% block content %}
<br>
<br>
<p>A little about me.</p>

<p>I am a student of data hacking, data analysis, communication and a story teller who possesses intense curiosity and a deep desire to dig deep and go beneath the surface of a problem.</p>
<br>
<p>My knowledge and experience include munging, cleaning, describing, presenting and making sense of data using Python.</p>
<h3>Tools</h3>
<h5>Daily Python Libraries:</h5>
<ul>
	<li>requests</li>
	<li>lxml</li>
	<li>re</li>
	<li>Pandas</li>
	<li>NumPy</li>
	<li>Scikit-learn</li>
	<li>NLTK</li>
</ul>
<h5>Editors</h5>
<ul>
	<li>PyCharm</li>
	<li>IPython Notebook</li>
	<li>Sublime</li>

<br>
<br>

</ul>
{% endblock %}

